{{> header.html}}
<main>
    <fieldset><legend>Modifier l'évenement : {{title}}</legend>
        <form method="post" action="event/add">
            <label for="title">Intitulé</label>
            <input type="text" id="title" name="title" value="{{title}}"/>
            <label for="date">Date de l'évenement</label>
            <input type="date" id="date" name="date" value="{{date}}"/>
            <label for="confirm">Description</label>
            <textarea id="confirm" name="confirm">{{desc}}</textarea>
            <input type="submit" name="changeEvent" value="OK"/>
        </form>
    </fieldset>
</main>
{{> footer.html}}