    <footer>
        <h6>Ce projet à été réalisé par Valentin Sorlin et Clémence Laffont dans le cadre de leur formation chez <a href="https://simplon.co/">Simplon.co</a></h6>
        <section>
            <fieldset><legend>Langage utilisé</legend>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Javascript</li>
                </ul>
            </fieldset>
            <fieldset><legend>Template utilisé</legend>
                <ul>
                    <li>Mustache</li>
                </ul>
            </fieldset>
            <fieldset><legend>Library utilisé</legend>
                <ul>
                    <li>Bootstrap</li>
                </ul>
            </fieldset>
            <fieldset><legend>technologie utilisé</legend>
                <ul>
                    <li>NodeJS</li>
                    <li>Express</li>
                </ul>
            </fieldset>
            <fieldset><legend>logiciel utilisé</legend>
                <ul>
                    <li>VScode</li>
                    <li>git</li>
                    <li>Javascript</li>
                </ul>
            </fieldset>
        </footer>
</body>
</html>