<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="title" content="MeetUp nodeJS" />
    <meta name="description" content="TP d'apprentissage de nodeJS, bootstrap, template mustache, express et l'arboressance de projet. Réalisation en groupe de deux." />
    <meta name="author" content="Clémence Laffont et Valentin Sorlin" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="shortcut icon" href="img/minilogo.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <title>MeetUp</title>
</head>
<body>
    <header>
        <img src='img/logo.png' alt='logo' />
        <h1>MeetUp</h1>
        <section id="connect">
            <a href="register.html">S'enregistrer</a>
            <form method="post" action="user/connect">
                <label for="pseudo">Pseudo</label>
                <input type="text" id="pseudo" name="pseudo"/>
                <label for="pass">Mot de passe</label>
                <input type="password" id="pass" name="pass"/>
                <input type="submit" name="connexion" value="GO"/>
            </form>
        </section>
        <section id="disconnect">
            <a href="profile.html"><img src="profile.png" alt="profile"/></a>
            <form method="post" action="user/disconnect">
                <input type="submit" name="disconnect" value="Déconnexion"/>
            </form>
        </section>
    </header>    
